h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
  width: 100%;
}

.full-img {
  position: relative;
  display: block;
  width:70vw;
  height: 60vh;
  margin: 3% 15%;
}

.mbura {
  width: 100%;
}

.displayed-img {
  width: 70vw;
  height: 60vh;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 60vh;
  background-color: rgba(0,0,0,0.6);
  display: none;

}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  margin: 3%;
}



.thumb-bar img {
  width: 15%;
  flex: 1;
}
